body{
    text-align: center;
}

h1{
    color: pink;
}

a{
    color: blue;
    list-style-position: inside
}

h2{
    color: purple;
}

h3{
    color: orange;
}
img{
    width: 150px;
    height: 300px;
}